In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mplt
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from IPython.core.interactiveshell import InteractiveShell
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import explained_variance_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
%matplotlib inline
import seaborn as sns
import math
import gc
import ipaddress
from urllib.parse import urlparse
from tldextract import extract
from sklearn.metrics import confusion_matrix

import sys
from pathlib import Path
d = Path().resolve().parent.parent
sys.path.insert(0, str(d))
import util.utils as utils
import util.plot_utils as plot_utils

from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import lightgbm as lgb



plt.rcParams["figure.figsize"] = (12,4)

from xgboost import XGBClassifier
import xgboost as xgb
from sklearn.metrics import accuracy_score


InteractiveShell.ast_node_interactivity = "all"
np.set_printoptions(precision=2)

In [19]:
project_name="click-prediction"
def get_file_location(filename):
    return "../data/%s/%s" % (project_name,filename)
df_conv_status = pd.read_csv("../data/%s/%s" % (project_name,"train-true_8.csv"))

In [7]:
df = pd.read_csv("../data/%s/%s" % (project_name,"train_8.csv"))
df = df.sample(frac=1).reset_index(drop=True)

gc.collect()

2380

In [18]:
m = 1000000
df1 = df.iloc[0:6*m,:]
df1.to_csv("part-1-train.csv",index=False)
df1.head(1)
df1 = None
gc.collect()

df2 = df.iloc[6*m:12*m,:]
df2.to_csv("part-2-train.csv",index=False)
df2.head(1)
df2 = None
gc.collect()


df3 = df.iloc[12*m:18*m,:]
df3.to_csv("part-3-train.csv",index=False)
df3.head(1)
df3 = None
gc.collect()


df4 = df.iloc[18*m:24*m,:]
df4.to_csv("part-4-train.csv",index=False)
df4.head(1)
df4 = None
gc.collect()


df5 = df.iloc[24*m:30*m,:]
df5.to_csv("part-5-train.csv",index=False)
df5.head(1)
df5 = None
gc.collect()


df6 = df.iloc[30*m:36*m,:]
df6.to_csv("part-6-train.csv",index=False)
df6.head(1)
df6 = None
gc.collect()

df7 = df.iloc[36*m:,:]
df7.to_csv("part-7-train.csv",index=False)
df7.head(1)
df7.shape
df7 = None
gc.collect()

,ID,Carrier,TrafficType,Device,Browser,OS,RefererUrl,ConversionPayOut,publisherId,subPublisherId,...,postal_code,Country,sub_domain,url,offset_hours,offset,old_or_new,device_type,browser_age,desktop_browser
0,56055668,-1,1,702,4,1,1763,0.0,6703,0,...,54143,224,1,115,12,7.0,1,1,3,2

507

,ID,Carrier,TrafficType,Device,Browser,OS,RefererUrl,ConversionPayOut,publisherId,subPublisherId,...,postal_code,Country,sub_domain,url,offset_hours,offset,old_or_new,device_type,browser_age,desktop_browser
6000000,59941929,-1,2,1084,4,1,2,0.0,4363,0,...,54143,155,1,2,11,1.0,1,1,3,2

62

,ID,Carrier,TrafficType,Device,Browser,OS,RefererUrl,ConversionPayOut,publisherId,subPublisherId,...,postal_code,Country,sub_domain,url,offset_hours,offset,old_or_new,device_type,browser_age,desktop_browser
12000000,46437845,45,2,388,2,1,2,0.0,678,0,...,54143,19,1,2,-4,7.0,1,1,2,0

77

,ID,Carrier,TrafficType,Device,Browser,OS,RefererUrl,ConversionPayOut,publisherId,subPublisherId,...,postal_code,Country,sub_domain,url,offset_hours,offset,old_or_new,device_type,browser_age,desktop_browser
18000000,16709382,27,2,388,2,1,2,0.0,3325,0,...,54143,204,1,2,2,7.0,1,1,2,0

77

,ID,Carrier,TrafficType,Device,Browser,OS,RefererUrl,ConversionPayOut,publisherId,subPublisherId,...,postal_code,Country,sub_domain,url,offset_hours,offset,old_or_new,device_type,browser_age,desktop_browser
24000000,50244331,47,1,964,4,1,4597,0.0,8658,0,...,54143,95,1,1793,11,7.75,1,1,3,2

77

,ID,Carrier,TrafficType,Device,Browser,OS,RefererUrl,ConversionPayOut,publisherId,subPublisherId,...,postal_code,Country,sub_domain,url,offset_hours,offset,old_or_new,device_type,browser_age,desktop_browser
30000000,59116148,44,2,388,2,1,2,0.0,2319,0,...,2064,19,1,2,2,7.0,1,1,2,0

77

,ID,Carrier,TrafficType,Device,Browser,OS,RefererUrl,ConversionPayOut,publisherId,subPublisherId,...,postal_code,Country,sub_domain,url,offset_hours,offset,old_or_new,device_type,browser_age,desktop_browser
36000000,9900954,121,1,601,1,1,2,0.0,2399,0,...,54143,99,1,2,7,5.5,1,1,2,0

(2020330, 30)

92

In [2]:
df1 = pd.read_csv("part-1-train.csv")
df2 = pd.read_csv("part-2-train.csv")
df3 = pd.read_csv("part-3-train.csv")
df4 = pd.read_csv("part-4-train.csv")
df5 = pd.read_csv("part-5-train.csv")
df6 = pd.read_csv("part-6-train.csv")
df7 = pd.read_csv("part-7-train.csv")

In [11]:
df1.to_hdf("part-1-train.h5","table",mode='w')
df2.to_hdf("part-2-train.h5","table",mode='w')
df3.to_hdf("part-3-train.h5","table",mode='w')
df4.to_hdf("part-4-train.h5","table",mode='w')
df5.to_hdf("part-5-train.h5","table",mode='w')
df6.to_hdf("part-6-train.h5","table",mode='w')
df7.to_hdf("part-7-train.h5","table",mode='w')

In [12]:
df1 = pd.read_hdf("part-1-train.h5","table")
df2 = pd.read_hdf("part-2-train.h5","table")
df3 = pd.read_hdf("part-3-train.h5","table")
df4 = pd.read_hdf("part-4-train.h5","table")
df5 = pd.read_hdf("part-5-train.h5","table")
df6 = pd.read_hdf("part-6-train.h5","table")
df7 = pd.read_hdf("part-7-train.h5","table")

In [14]:
project_name="click-prediction"
df_test= pd.read_csv("../data/%s/%s" % (project_name,"test_8.csv"))
df_test.to_hdf("test_8.h5","table",mode='w')